html,
body {
  margin: 0;
  height: 100%;
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

main {
  max-width: 800px;
  margin: 100px auto;
}

.card {
  position: relative;
  margin: 20px;
  min-height: 100px;
  background-color: #dedede;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.card button[type='submit'] {
  cursor: pointer;
  font-size: 30px;

  border-radius: 8px;
  border: none;
  background-color: #2E86C1;
  color: white;
  padding: 16px;
  margin: auto;
}